<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.morladim.mario">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mario">
        <service
            android:name=".ipc.aidl.AidlTalkService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.morladim.mario.AidlService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:multiprocess="true"
            tools:node="merge">
            <meta-data
                android:name="com.morladim.mario.app.AppInitialize"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider> <!-- <service -->
        <!-- android:name=".connect.NetworkJobService" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <!-- 作为主入口 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 是否在launcher中显示 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestLauncherActivity"
            android:exported="true"
            android:process="com.morladim.mario.kuba">
            <intent-filter>

                <!-- 想要有两个入口activity需要同样的action和category -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>